Repository nghiem2003/environment-predict: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-backend, deploy-frontend

Path conditions:
  deploy-backend: any of: backend-express/**/*, backend-flask/**/*, docker-compose.yaml
  deploy-frontend: any of: frontend/**/*, docker-compose.yaml

a
  backend-express/package-lock.json
  backend-express/package.json
  backend-express/src/controllers/predictionController.js
  backend-express/src/routes/predictionRoutes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/axios.js
  frontend/src/components/Dashboard.jsx
Due: deploy-backend, deploy-frontend

update user flow
  backend-express/.env
  backend-express/src/controllers/authController.js
  backend-express/src/controllers/emailController.js
  backend-express/src/controllers/predictionController.js
  backend-express/src/routes/authRoutes.js
  frontend/src/App.jsx
  frontend/src/axios.js
  frontend/src/components/AreaList.jsx
  frontend/src/components/CreateNewPrediction.jsx
  frontend/src/components/InteractiveMap.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/UserList.jsx
  frontend/src/locales/en.json
  frontend/src/locales/vn.json
Due: deploy-backend, deploy-frontend

fix
  frontend/src/components/SwaggerViewer.jsx
Due: deploy-frontend

update
  backend-express/src/controllers/authController.js
  backend-express/src/routes/authRoutes.js
  frontend/src/App.jsx
  frontend/src/components/ForgotPassword.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/UserList.jsx
  frontend/src/components/UserProfile.jsx
Due: deploy-backend, deploy-frontend

fix
  backend-express/src/controllers/authController.js
  frontend/src/components/ForgotPassword.jsx
  frontend/src/locales/en.json
  frontend/src/locales/vn.json
Due: deploy-backend, deploy-frontend

fix
  frontend/src/components/UserList.jsx
Due: deploy-frontend

update
  .gitignore
  backend-express/app.js
  backend-express/package-lock.json
  backend-express/src/controllers/predictionController.js
  backend-express/src/models/Job.js
  backend-express/src/models/PredictionNatureElement.js
  backend-express/src/models/index.js
  backend-express/src/routes/jobRoutes.js
  backend-express/src/workers/importBoss.js
  frontend/src/components/Dashboard.jsx
  frontend/src/components/Jobs.jsx
Due: deploy-backend, deploy-frontend

update base script
  base_script
Due: none

update
  backend-express/src/controllers/areaController.js
  backend-express/src/controllers/predictionController.js
  backend-express/src/routes/areaRoutes.js
  backend-express/src/routes/predictionRoutes.js
  frontend/package-lock.json
  frontend/src/components/AdminStats.jsx
Due: deploy-backend, deploy-frontend

uupdate
  frontend/src/components/InteractiveMap.jsx
  frontend/src/data/hoang_Truong_sa.json
Due: deploy-frontend

update
  backend-express/src/controllers/authController.js
  backend-express/src/controllers/emailController.js
  backend-express/src/controllers/predictionController.js
  backend-express/src/models/NatureElement.js
  backend-express/src/models/Prediction.js
  backend-express/src/routes/authRoutes.js
  backend-express/src/routes/predictionRoutes.js
  frontend/src/components/AreaList.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/InteractiveMap.jsx
  frontend/src/components/PredictionDetails.jsx
  frontend/src/components/UserProfile.jsx
Due: deploy-backend, deploy-frontend

update for white screen
  frontend/index.html
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/LoadingScreen.jsx
  frontend/src/index.jsx
Due: deploy-frontend

custom model
  .gitignore
  backend-express/app.js
  backend-express/package-lock.json
  backend-express/package.json
  backend-express/scripts/seed_ml_models.js
  backend-express/src/config/migrations/20250113000000-create-ml-model.js
  backend-express/src/config/migrations/20250113000001-create-model-nature-element.js
  backend-express/src/config/migrations/20250113000002-add-google-drive-columns-to-ml-models.js
  backend-express/src/config/migrations/20250113000003-add-is-default-to-ml-models.js
  backend-express/src/controllers/mlModelController.js
  backend-express/src/controllers/natureElementController.js
  backend-express/src/middlewares/uploadModel.js
  backend-express/src/models/MLModel.js
  backend-express/src/models/ModelNatureElement.js
  backend-express/src/models/NatureElement.js
  backend-express/src/models/index.js
  backend-express/src/routes/googleAuthRoutes.js
  backend-express/src/routes/mlModelRoutes.js
  backend-express/src/services/googleDriveService.js
  backend-flask/.dockerignore
  backend-flask/Dockerfile
  backend-flask/config.py
  backend-flask/google_drive_downloader.py
  backend-flask/init_models.sh
  backend-flask/prediction_module/model_manager.py
  backend-flask/prediction_module/routes.py
  backend-flask/test_model_discovery.py
  frontend/src/App.jsx
  frontend/src/axios.js
  frontend/src/components/CreateNewPrediction.jsx
  frontend/src/components/MLModelManagement.jsx
  frontend/src/components/NatureElementManagement.jsx
  frontend/src/components/NatureElementModal.jsx
  frontend/src/locales/en.json
  frontend/src/locales/vn.json
Due: deploy-backend, deploy-frontend

update
  .gitignore
Due: none

add
  .gitignore
Due: none

update custom model
  backend-express/app.js
  backend-express/package-lock.json
  backend-express/scripts/run_migration_and_update.js
  backend-express/scripts/seed_ml_models.js
  backend-express/scripts/update_natural_elements.js
  backend-express/src/config/config.js
  backend-express/src/config/db.js
  backend-express/src/controllers/areaController.js
  backend-express/src/controllers/mlModelController.js
  backend-express/src/controllers/predictionController.js
  backend-express/src/models/ModelNatureElement.js
  backend-express/src/models/NatureElement.js
  backend-express/src/routes/mlModelRoutes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/InteractiveMap.css
  frontend/src/components/InteractiveMap.jsx
  frontend/src/components/MLModelManagement.jsx
Due: deploy-backend, deploy-frontend

update
  backend-flask/prediction_module/model_loader.py
  backend-flask/prediction_module/model_manager.py
  backend-flask/prediction_module/routes.py
  backend-flask/prediction_module/services.py
Due: deploy-backend

update
  backend-express/src/config/migrations/20250113000000-create-ml-model.js
  backend-express/src/config/migrations/20250113000001-create-model-nature-element.js
Due: deploy-backend

update
  backend-express/src/controllers/mlModelController.js
  backend-flask/prediction_module/model_manager.py
  backend-flask/prediction_module/services.py
  frontend/src/components/AdminStats.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/ForgotPassword.jsx
  frontend/src/components/InteractiveMap.jsx
  frontend/src/components/Jobs.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/MLModelManagement.jsx
  frontend/src/components/NatureElementManagement.jsx
  frontend/src/components/SwaggerViewer.jsx
  frontend/src/components/UnsubscribePage.jsx
Due: deploy-backend, deploy-frontend

update
  backend-express/package-lock.json
  backend-express/src/controllers/areaController.js
  backend-express/src/controllers/predictionController.js
  backend-express/src/routes/jobRoutes.js
  backend-express/src/routes/predictionRoutes.js
  backend-express/src/workers/importBoss.js
  backend-flask/requirements.txt
  docker-compose.yaml
  frontend/package-lock.json
  frontend/src/components/AdminStats.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/MLModelManagement.jsx
  frontend/src/locales/vn.json
Due: deploy-backend, deploy-frontend

update model convention
  backend-express/src/controllers/mlModelController.js
  backend-express/src/controllers/predictionController.js
  frontend/src/components/NatureElementModal.jsx
Due: deploy-backend, deploy-frontend

fix
  backend-express/.env
Due: deploy-backend

add
  frontend/src/components/AdminStats.jsx
  frontend/src/components/EmailList.jsx
Due: deploy-frontend

update
  backend-express/src/controllers/predictionController.js
Due: deploy-backend

update
  frontend/src/components/AdminStats.jsx
Due: deploy-frontend

update read me
  README.md
Due: none
